/*FONTS*/
@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-Bold/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNext-Bold/AvenirNext-Bold.woff') format('woff'),
  url('../fonts/AvenirNext-Bold/AvenirNext-Bold.ttf')  format('truetype'),
  url('../fonts/AvenirNext-Bold/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.woff') format('woff'),
  url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.ttf')  format('truetype'),
  url('../fonts/AvenirNext-DemiBold/AvenirNext-DemiBold.svg#AvenirNext-DemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'AvenirNext';
  src: url('../fonts/AvenirNext-Medium/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNext-Medium/AvenirNext-Medium.woff') format('woff'),
  url('../fonts/AvenirNext-Medium/AvenirNext-Medium.ttf')  format('truetype'),
  url('../fonts/AvenirNext-Medium/AvenirNext-Medium.svg#AvenirNext-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

/*END FONTS*/


body {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: #000;
  font-style: inherit;
  font-size: 14px;
  font-weight: 400;
  font-family: 'AvenirNext', 'Roboto', "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  box-sizing: border-box;
}

.splash-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: url("../images/splash-page-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
}

.center-content {
  width: 100%;
  height: 100%;
  margin: 15vh auto 0;
  padding: 0 15px;
  text-align: center;
  box-sizing: border-box;
}

.logo {
  max-width: 225px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.subtitle {
  margin: 1.5rem 0 2.5rem;
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.8px;
}

.subtitle span {
  padding: 0 0 0 15px;
}

.coming-btn {
  display: block;
  max-width: 130px;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.24px;
  border-radius: 20px;
  border: 1px solid #ffffff;
}

.site-footer {
  position: absolute;
  left: 50%;
  bottom: 25px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.mail-link,
.mail-link:link, 
.mail-link:visited {
  color: #ffffff;
  font-family: "AvenirNext";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.24px;
  text-decoration: none;
}

@media all and (min-width: 1600px) {
  .site-footer {
    bottom: 55px;
  }
}